/* ==UserStyle==
@name		Caddy Browse Dark
@namespace	github.com/xnaas/caddy-browse-dark
@homepageURL	https://github.com/xnaas/caddy-browse-dark
@version	1.0
@updateURL	https://raw.githubusercontent.com/xnaas/caddy-browse-dark/master/caddy-browse-dark.css
@description	Makes Caddy's Browse template a bit more tolerable on the eyes.
@author		xnaas
==/UserStyle== */

@-moz-document url-prefix("https://actionsack.com/img/"), url-prefix("https://xnaas.info/chatlog/"), domain("dl.xnaas.info"), domain("p.xnaas.info") {
body {
  background-color: #2f343f !important;
}

#summary, a, td, h1, pre {
  color: #FFF !important;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #2f343f !important;
}

tbody tr:hover {
	background-color: #3D4351 !important;
}
}
